<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<table id="contact_list">
	<%= render @contacts %>
</table>

<p><%= link_to "Add Contact", new_contact_path %></p>
<p><%= link_to "New Encounter", new_encounter_path %></p>
