<p>
	<%= link_to 'edit', edit_encounter_path(encounter), class:'btn' %> 
	<%= link_to 'view', encounter_path(encounter), class:'btn btn-info' %>
	<%= link_to 'delete', encounter_path(encounter), class:'btn btn-danger', method: :delete %>
</p>