<div class="span2 left_sidebar">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon-user"></i>Contacts
      <%= link_to "Add",new_contact_path, id:"add_contact",class:"btn", remote: true %>
    </li>
   <%= render @contacts %>
  </ul>
</div>
