<p>This is the <em>Contact's Show Page</em></p>
<p>Now viewing contact of <%= @contact.first_name %></p>
<%# @contact.attributes.each do |key,value| %>
	<p><%#= key %> <em><%#= value %></em></p>
	<%# end %>
<%= 	@contact.first_name %>