<div id="dialog_form">
		<%= simple_form_for [@encounter,@dialog] do |f| %>
		<%= f.input :topic_id, collection: @topics, required: true, prompt: "-- Choose a 
			Topic --", :input_html => { id: 'topic_div' }, :selected => session[:topic_key].to_i %>
		<button id="new_topic"class="btn btn-info"><i class="icon-plus-sign"></i>New Topic</button>

		<%= f.input :content, label: "Dialog",input_html: {rows:5} %>
		<%= f.submit %>
	<% end %>
</div>
