    <div class="row-fluid">
      <button id="encounters_btn">Encounters</button>
      <button id="topics_btn">Topics</button>
    </div>
    <div class="row-fluid">
      <% @encounters.each do |e| %>
        <%= render 'encounters/encounter', :encounter => e, :contact => e.contact %>
      <% end %>
    </div>
