<nav class="tab-links">
  <ul>
    <li class="active btn" id="encounters"><a href='#encounters'>Encounters</a></li>
    <li class="btn" id="topics"><a href='#topics'>Topics</a></li>
  </ul>
</nav>
<%= render @dashboard.timeline %>
