<div class="contacts-data">
  <div class="row-fluid data-tab" id="encounters-tab">
    <%= render timeline.encounters %>
    
  </div>
  <div class="data-tab" id="topics-tab">
    <%= render timeline.topics %>
  </div>
</div>
