body {
	background-color: lightBlue;
}
a#home {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}
span#login {
	float: right;
}
div#sidebar {
  float: left;
  padding: 0 20px;
  border-right: solid black .2;
  background-color: yellow;
  height: 500px;
}
div#main {
  background-color: red;
  float: right;
  width:75%;
}
div#debug {
  clear: both;
}
