<%= link_to 'Home', root_path, id: 'home' %>
<% if user_signed_in? %>
	<span id='login'>logged in as <%= current_user.email %> | <%= link_to 'logout', '/users/sign_out', method: :delete %></span>
<% end %>
